  <p>To use reCAPTCHA, you need to <a href="http://www.google.com/recaptcha/admin" target="_blank">sign up for an API key pair</a> for your site. The key pair consists of a site key and secret. The site key is used to <a href="https://developers.google.com/recaptcha/docs/display" target="_blank">display the widget</a> on your site. The secret authorizes communication between your application backend and the reCAPTCHA server to <a href="https://developers.google.com/recaptcha/docs/verify" target="_blank">verify the user's response</a>. The secret needs to be kept safe for security purposes.</p>

    <p>The API key pair is unique to the domains and first-level subdomains that you specify. Specifying more than one domain could come in handy if you serve your website from multiple top level domains.</p>

  <small>Source: <a href="https://developers.google.com/recaptcha/docs/start" target="_blank">https://developers.google.com/recaptcha/docs/start</a></small>